// voxel styles and container

#container
	#crosshair
	#battery
	nav#tools.bar-tab
		ul.tab-inner
			li(class="tab-item active")
				.tab-label
					| grass
			li.tab-item
				.tab-label
					| dirt
			li.tab-item
				.tab-label
					| obsidian
			li.tab-item
				.tab-label
					| plank
			li.tab-item
				.tab-label
					| dude