// UNCLASSIFIED

extends site
append site_help
	:markdown
		See also the companion [api reference](/api.jade) and the [programmers ref manual](/shares/prm/totem/index.html).
append site_parms
	- view = "Tabbed"
	- dock = "top"
	- options = {tipsheets: "", blogs: "", embeds: "", workflows:"", plugins:"", odbc:"", immersions:"", finders:"", navigators:"", techpubs:"", briefs:"", visuals:""}
append site_body

	#fit.Introduction
		:markdown
			When a client requests a X.view, **#{nick}** renders this view with the jade skin associated with X.  [Jade](http://jade-lang.com/tutorial/)
			skins deliver html to the requesting client via a highlevel, js compatible markdown (a more powerful
			version of angularjs).  **#{nick}** retrieves the skin for a X.view request by first attempting to find a jade skinning
			engine named X in its [jade engines](/engine.jade).  If no skin is found, **#{nick}** retrieves the skin from its 
			internal jade skin area. 

